body {
  background-color: #282828;
}

.intro{
    display: flex;
    width: 80%;
    padding: 25px;
    margin: 20px auto;
    background-color: #3c3836;
    color: #ebdbb2;
}

.intro-left{
    flex: 1;
}
.intro-left-wrapper{
    padding-left: 10px;
}

.intro-right{
    flex: 1;
}
